parameters:
    paths:
        - src
        - tests
    excludePaths:
        analyse:
            - tests/phpunit/bootstrap.php
            - tests/phpunit/bootstrap.local.php (?)
    scanDirectories:
        - vendor/phpunit/phpunit/src/Framework
        - ../org.project60.sepa/
        - ../org.project60.banking/
        - ../de.systopia.contract
    level: 9
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    checkMissingCallableSignature: true
    tmpDir: .phpstan
